<!-- <div class="card add">
    <div class="banner">
      <span class="banner-text">SUBSCRIBE</span>
      <span class="banner-text">JOIN US</span>
    </div>
    <span class="card__title">Angular Community</span>
    <p class="card__subtitle">Get fresh void to your inbox every week...</p>
    <form class="card__form">
      <input placeholder="Your Email" type="email" required="" />
      <button class="sign-up">Sign up</button>
    </form>
  </div> -->

  <form class="form add">
    <span class="title">Subscribe to our Angular Community...</span>
    <p class="description">Stay tuned for our weekly Angular Newsletters and stay upto date with latest angular features...</p>
    <div>
      <input placeholder="Enter your email" type="email" name="email" id="email-address">
      <button type="submit">Subscribe</button>
    </div>
  </form>