<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<mat-toolbar color="primary" style="justify-content: space-between;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button class="example-icon"  (click)="sidenav.toggle()" id="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div style="margin-top: 8px;" routerLink="/javascript-articles">Blogs Collections</div>

  </div>
  <div style="display: flex; align-items: center;">
    <div class="toolbar-buttons">
      <a mat-button id="nav-button" href="" target="_blank">Contribute <i class="bi bi-github"></i></a>
      <a mat-button id="nav-button" routerLink="/preparation"> About me </a>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isSideNavOpened">

    <mat-expansion-panel>
      <mat-expansion-panel-header routerLink="blogs" class="custom-button">
        Collections
      </mat-expansion-panel-header>
      <div class="panel-content" style="margin-top: -10px;margin-bottom: -20px;">
        <ul>
          <!-- <li *ngFor="let data of AngularTopics" (click)="navigateToJSTopic(data.id)">{{data.name}}</li> -->
           <li routerLink="javascript" routerLinkActive="active-route"
     [routerLinkActiveOptions]="{exact: true}"> JavaScript</li>
           <li routerLink="angular"  
           routerLinkActive="active-route"
     [routerLinkActiveOptions]="{exact: true}"
           
           > Angular</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-nav-list>

    <a mat-list-item 
     routerLink="/blogs" 
     routerLinkActive="active-route"
     [routerLinkActiveOptions]="{exact: true}">
    <span class="custom-button">Blogs</span>
  </a>

      <!-- <mat-list-item routerLink="/interview-preparation">
        <button class="custom-button">Interview Prep </button>
      </mat-list-item> -->

      <mat-divider></mat-divider>

      <!-- <mat-list-item routerLink="/preparation">
       Add this in mat-list-item: to close side automatically once click (click)="sidenav.close()" -->
        <!-- <button class="custom-button">About me</button>
      </mat-list-item> --> 

       <a mat-list-item 
     routerLink="/preparation"
     routerLinkActive="active-route"
     [routerLinkActiveOptions]="{exact: true}">
    <span class="custom-button">About me</span>
  </a>

      

      <!-- <mat-list-item routerLink="/contact-us">
        <button class="custom-button" id="contact-button">Contact</button>
      </mat-list-item> -->


          <a mat-list-item 
      routerLink="/contact-us"
     routerLinkActive="active-route"
     [routerLinkActiveOptions]="{exact: true}">
    <span class="custom-button" id="contact-button">Contact</span>
  </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>


    <div class="container">
      <router-outlet></router-outlet>
    </div>


    <footer class="footer">
      <div class="copyright">
        &copy; 2025 .
        <div style="margin-left: 8px;">
          <a href="" target="_blank" class="btn btn btn-outline-light">
            <i class="fa-brands fa-github"></i></a>
          <a href="" target="_blank" class="btn btn btn-outline-light"
            style="margin-left: 0.5rem;"><i class="fa-brands fa-medium"></i></a>
          <a href="" target="_blank" class="btn btn btn-outline-light"
            style="margin-left: 0.5rem;margin-right: 0.5rem;"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>